<div class="fiber-micro">
 
  <section class="explore-the-science-of-nector">
  <div class="explore-wrapper">
    <div class="row explore-the-science-wrapper">
    
      <div class="col col-sm-3 col-xs-12 text-center">{{'icon-section-after-icon.png'|asset_url|img_tag }}</div>
      <div class="col col-sm-9 col-xs-12 micro-tech">
        <p>
          With our micro-shot technology you’ll enjoy nutrient-rich probiotic liquid shots. Always fresh. No refrigeration needed.
        
        </p>
        <a class="science-of-nectar explore-the-science" href="#">Explore the science of nectar<span>{{'arrow-next-white.png' |asset_url | img_tag }}</span></a>
      
      </div>
      
    </div>
    
    </div>
  
  </section>
  
  
  <section class="product-review">
  
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
   
      
  </section>    
    <section class="digestion-micro-shot-faq prod-faq-section">   
    <div class="container">
    <div class="faq-section">
    
      <div class="row section-header text-center">
       {%comment%} <h1>{{ page.title }}</h1>{%endcomment%}
        
        <div class="col-sm-12 faq-heading power-pack-faq-heading"><h1 class="frequently-heading">Frequently Asked Questions</h1></div>
       
      </div>    
    </div>      
         
<div id="accordion" role="tablist">
 
  <div class="product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingTen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
    Why is Nectar’s micro-shot  more effective for my health than liquid probiotics or dry probiotic pills?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div>
  
  <div class="product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingNine">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
    When and how should Nectar probiotics be taken?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div>
  
  <div class=" product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingEleven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
  How do I know which to take, Innovia Nectar Digestion, or Innovia Nectar Immunity?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div>
  <div class=" product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingTwelve">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
  Is Innovia Nectar mostly for adults, or is it also safe for children?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div>  
  <div  class="col-sm-12 more-faq-question">
       <p>More Questions?</p>  
  </div>
  <div class="col-sm-12 all-faq-button">
  <a href="/pages/faq" id="AddToCart-product-template" class="btn product-form__cart-submit product-form__cart-submit--small immunity-btn" type="submit" name="add">
<span id="AddToCartText-product-template"> see all Faqs </span>
</a>
  </div> 
      <div class="rte">
        {{ page.content }}
        
      </div>
    </div>
    </div> 
  </section>

</div>

<script>
  
</script>