<div class="immunity-detail">

  <section class="product-detail">
    <div class="container">
    
    <div class="product-detail-heading text-center">
      <h1>The Benefits Inside </h1>
      <p>Improve and maintain good health with a robust combination of live probiotics, botanical extracts, vitamins and minerals.</p>
    
    </div>
    <div class="first-section-benifit-inside">
    
      <div class="row immunity-micro-first-section">
      
        <div class="col col-sm-6 col-xs-12 immunity-benifit">
          
          <div class="icon-section-detail">
            <div class="icon-detail pull-left">
            {% comment %}{{'product-detail-icon.png' | asset_url | img_tag}}{% endcomment %}
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 47.3 45.7" style="enable-background:new 0 0 47.3 45.7;" xml:space="preserve">
<style type="text/css">
	.st0{fill:url(#SVGID_1_);}
	.st1{fill:url(#SVGID_2_);}
	.st2{fill:url(#SVGID_3_);}
	.st3{fill:url(#SVGID_4_);}
</style>
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="19.466" y1="22.4066" x2="39.4313" y2="22.4066">
	<stop  offset="3.370800e-02" style="stop-color:#9B9B98"/>
	<stop  offset="0.1228" style="stop-color:#A3A4A5"/>
	<stop  offset="0.2191" style="stop-color:#AEB0B7"/>
	<stop  offset="0.3073" style="stop-color:#A8ABB1"/>
	<stop  offset="0.4767" style="stop-color:#969BA2"/>
	<stop  offset="0.7082" style="stop-color:#768189"/>
	<stop  offset="0.7191" style="stop-color:#748087"/>
	<stop  offset="1" style="stop-color:#A6B1B8"/>
</linearGradient>
<path class="st0" d="M38.2,37l-5.9-6.1c-0.9-0.9-1.8-1.2-2.4-1.3c0.3-0.6,0.4-1.5,0.1-2.6l-2.3-8.2c-0.3-1-0.8-1.7-1.4-2.2
	c0.1-0.1,0.2-0.1,0.3-0.2c0.6-0.4,1.4-1.2,1.6-2.9l0.9-8.5C29.1,3.5,28.5,2.6,28,2c-0.6-0.7-1.6-1.1-2.7-1.2c-2.5-0.3-4.2,1-4.5,3.4
	l-0.9,8.5c-0.2,1.8,0.5,3.1,1.8,3.8c-0.7,0.3-1.3,0.8-1.6,1.3c-0.4,0.6-0.8,1.7-0.4,3.2l2.3,8.2c0.4,1.6,1.4,2.3,2,2.6
	c0.5,0.2,1,0.3,1.5,0.3c0.1,0,0.1,0,0.2,0c-0.3,0.5-0.5,1-0.5,1.5c-0.1,0.7,0.1,1.9,1.2,3l6,6.1c1,1,2,1.3,2.8,1.3
	c0.1,0,0.2,0,0.2,0c0.9-0.1,1.8-0.5,2.7-1.3c0.8-0.8,1.3-1.7,1.4-2.6C39.5,39.3,39.3,38.2,38.2,37z M21.4,12.9l0.9-8.5
	c0.2-1.6,1.1-2.3,2.8-2.1c0.8,0.1,1.4,0.3,1.8,0.8c0.4,0.4,0.6,1.1,0.5,1.9l-0.9,8.5c-0.1,0.8-0.4,1.4-0.9,1.8
	c-0.5,0.3-1.1,0.4-1.9,0.3C22,15.4,21.2,14.5,21.4,12.9z M24.6,30.5c-0.6-0.2-1-0.8-1.2-1.6l-2.3-8.2c-0.2-0.8-0.2-1.5,0.2-2
	c0.3-0.5,0.9-0.8,1.6-1c0.4-0.1,0.7-0.2,1.1-0.2c1.1,0,1.8,0.6,2.1,1.8l2.3,8.2c0.2,0.8,0.2,1.5-0.2,2c-0.3,0.5-0.9,0.8-1.6,1l0,0
	C25.8,30.7,25.1,30.7,24.6,30.5z M37,41.6c-0.6,0.6-1.2,0.9-1.7,0.9c-0.6,0-1.2-0.2-1.8-0.8l-6-6.1c-0.6-0.6-0.9-1.2-0.8-1.8
	c0.1-0.6,0.4-1.1,1-1.7c0.6-0.6,1.2-0.9,1.7-0.9c0,0,0.1,0,0.1,0c0.6,0,1.1,0.3,1.7,0.8l5.9,6.1c0.6,0.6,0.9,1.2,0.8,1.8
	C37.9,40.5,37.5,41.1,37,41.6z"/>
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="3.2413" y1="30.0739" x2="20.2345" y2="30.0739">
	<stop  offset="3.370800e-02" style="stop-color:#9B9B98"/>
	<stop  offset="0.1228" style="stop-color:#A3A4A5"/>
	<stop  offset="0.2191" style="stop-color:#AEB0B7"/>
	<stop  offset="0.3073" style="stop-color:#A8ABB1"/>
	<stop  offset="0.4767" style="stop-color:#969BA2"/>
	<stop  offset="0.7082" style="stop-color:#768189"/>
	<stop  offset="0.7191" style="stop-color:#748087"/>
	<stop  offset="1" style="stop-color:#A6B1B8"/>
</linearGradient>
<path class="st1" d="M19.7,32.5c-0.1-1.6-0.8-2.5-1.4-2.9c-0.7-0.5-1.7-0.8-2.9-0.7c-0.1,0-0.2,0-0.4,0.1c0.9-0.7,1.4-1.5,1.6-2.3
	c0.2-0.7,0.2-1.9-0.8-3.2l-5.1-6.8c-1-1.3-2.1-1.6-2.8-1.7c-0.9,0-1.9,0.3-2.8,1c-0.9,0.7-1.5,1.5-1.7,2.4c-0.2,0.7-0.2,1.9,0.8,3.2
	l5.1,6.8c1,1.3,2.1,1.6,2.8,1.7c0.1,0,0.1,0,0.2,0c0.1,0,0.2,0,0.3,0c-0.5,0.5-1.1,1.5-1,3.1l0.6,8.5c0.1,2.3,1.6,3.7,3.9,3.7
	c0.1,0,0.3,0,0.4,0h0c2.6-0.2,4-1.7,3.8-4.2L19.7,32.5z M12.1,28.5c-0.6,0-1.2-0.4-1.7-1.1l-5.1-6.8c-0.5-0.7-0.7-1.3-0.6-1.9
	c0.1-0.5,0.5-1.1,1.2-1.6c0.6-0.5,1.2-0.7,1.7-0.7c0,0,0.1,0,0.1,0c0.6,0,1.2,0.4,1.7,1.1l5.1,6.8c0.5,0.7,0.7,1.3,0.6,1.9
	c-0.1,0.5-0.5,1.1-1.2,1.6h0C13.3,28.3,12.7,28.5,12.1,28.5z M16.3,43.7c-1.7,0.1-2.6-0.6-2.7-2.2L13,32.9c-0.1-0.8,0.1-1.5,0.6-1.9
	c0.4-0.4,1-0.6,1.8-0.7c0.1,0,0.2,0,0.3,0c0.7,0,1.2,0.1,1.6,0.4c0.5,0.4,0.8,1,0.8,1.8l0.6,8.5C18.8,42.7,18,43.6,16.3,43.7z"/>
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="33.09" y1="24.0584" x2="45.6415" y2="24.0584">
	<stop  offset="3.370800e-02" style="stop-color:#9B9B98"/>
	<stop  offset="0.1228" style="stop-color:#A3A4A5"/>
	<stop  offset="0.2191" style="stop-color:#AEB0B7"/>
	<stop  offset="0.3073" style="stop-color:#A8ABB1"/>
	<stop  offset="0.4767" style="stop-color:#969BA2"/>
	<stop  offset="0.7082" style="stop-color:#768189"/>
	<stop  offset="0.7191" style="stop-color:#748087"/>
	<stop  offset="1" style="stop-color:#A6B1B8"/>
</linearGradient>
<path class="st2" d="M37.6,31.8c-0.7,0-1.5-0.2-2.3-0.7c-2.2-1.3-2.8-3.3-1.6-5.4l4.2-7.4c0.8-1.4,1.9-1.9,2.6-2
	c0.9-0.2,1.9,0.1,2.9,0.6c2.2,1.3,2.8,3.3,1.6,5.4l-4.2,7.4C40,31.1,38.9,31.8,37.6,31.8z M41.1,17.8c-0.1,0-0.2,0-0.3,0
	c-0.6,0.1-1.1,0.5-1.5,1.3L35,26.5c-0.8,1.4-0.4,2.5,1,3.4c1.5,0.9,2.6,0.6,3.4-0.8l4.2-7.4c0.8-1.4,0.4-2.5-1-3.4
	C42.1,17.9,41.6,17.8,41.1,17.8z"/>
<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="1.2719" y1="7.983" x2="16.9132" y2="7.983">
	<stop  offset="3.370800e-02" style="stop-color:#9B9B98"/>
	<stop  offset="0.1228" style="stop-color:#A3A4A5"/>
	<stop  offset="0.2191" style="stop-color:#AEB0B7"/>
	<stop  offset="0.3073" style="stop-color:#A8ABB1"/>
	<stop  offset="0.4767" style="stop-color:#969BA2"/>
	<stop  offset="0.7082" style="stop-color:#768189"/>
	<stop  offset="0.7191" style="stop-color:#748087"/>
	<stop  offset="1" style="stop-color:#A6B1B8"/>
</linearGradient>
<path class="st3" d="M12.9,14.1c-0.6,0-1.3-0.1-2-0.6l-7.5-4C2,8.8,1.5,7.8,1.3,7.1c-0.2-0.9,0-1.9,0.5-2.9c0.5-1,1.3-1.7,2.1-2.1
	c0.7-0.3,1.8-0.4,3.2,0.3l7.5,4c1.4,0.8,1.9,1.8,2.1,2.5c0.2,0.9,0,1.9-0.5,2.9c-0.5,1-1.3,1.7-2.1,2.1C13.9,14,13.4,14.1,12.9,14.1
	z M5.2,3.3c-0.2,0-0.5,0-0.7,0.1c-0.5,0.2-1,0.7-1.4,1.4l0,0C2.8,5.5,2.7,6.2,2.8,6.7c0.1,0.6,0.6,1.1,1.3,1.5l7.5,4
	c0.7,0.4,1.4,0.5,2,0.3c0.5-0.2,1-0.7,1.4-1.4c0.4-0.7,0.5-1.4,0.4-1.9c-0.1-0.6-0.6-1.1-1.3-1.5l-7.5-4C6.1,3.4,5.6,3.3,5.2,3.3z"
	/>
</svg>

            </div>
             <div class="detail-of-icon"> <h4>1 Billion Viable Cultures BB-12® <br><i>Bifidobacterium (subsp.) lactis   </i></h4>
			<p>The BB-12® probiotic strain is backed by more than 3,500 scientific publications that indicate its role in boosting immunity and supporting digestive health, which is linked to immunity.</p>
            </div>
          </div>
           <div class="icon-section-detail">
            <div class="icon-detail pull-left">
              {% comment %}
            {{'immunity-icon.png' | asset_url | img_tag}}
            {% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.27 45.33"><defs><linearGradient id="a" x1="0.86" y1="23" x2="41.14" y2="23" gradientUnits="userSpaceOnUse"><stop offset="0.03" stop-color="#9b9b98"/><stop offset="0.13" stop-color="#a4a5a7"/><stop offset="0.22" stop-color="#aeb0b7"/><stop offset="0.38" stop-color="#9fa4ab"/><stop offset="0.69" stop-color="#78848b"/><stop offset="0.72" stop-color="#748087"/><stop offset="1" stop-color="#a6b1b8"/></linearGradient></defs><title>innovia_elderberry_icon</title><path d="M26.43,4.76a1.3,1.3,0,0,1,.95-.37h.12a2.21,2.21,0,0,1,2,2,17.15,17.15,0,0,1-1.32,4.43,25.34,25.34,0,0,1-2.07-4.94A1.31,1.31,0,0,1,26.43,4.76Zm-5.89,5.89a1.3,1.3,0,0,1,1-.37h.12a2.19,2.19,0,0,1,1.95,2,17.44,17.44,0,0,1-1.31,4.43,26,26,0,0,1-2.08-4.94A1.36,1.36,0,0,1,20.54,10.65Zm14.87,1.65a2.2,2.2,0,0,1,2,2,1.37,1.37,0,0,1-.34,1,1.39,1.39,0,0,1-1.1.4A26,26,0,0,1,31,13.62a19.9,19.9,0,0,1,4.39-1.31Zm.67-9.59A1.3,1.3,0,0,1,37,2.35,2.1,2.1,0,0,1,38.47,3a2.13,2.13,0,0,1,.63,1.33,1.35,1.35,0,0,1-.37,1.08,20.3,20.3,0,0,1-4.49,1.83A20,20,0,0,1,36.08,2.72Zm4.1,4.09a3.34,3.34,0,0,0,.95-2.64,4.14,4.14,0,0,0-1.22-2.62A4.1,4.1,0,0,0,37,.33a3.36,3.36,0,0,0-2.38,1c-1.08,1.08-2.49,5.77-2.82,6.91l-1,1a9.71,9.71,0,0,0,.62-3,4.21,4.21,0,0,0-3.84-3.84,3.36,3.36,0,0,0-2.64,1A3.31,3.31,0,0,0,24,6c.1,1.39,2.07,5.32,3,7L25,15.07a9.8,9.8,0,0,0,.62-3,4.18,4.18,0,0,0-3.83-3.83,3.29,3.29,0,0,0-3.59,3.59c.09,1.4,2.07,5.33,3,7L20.07,20c-3.35-5.51-10.38-9.7-16.54-9.7H3.47a1,1,0,0,0-1,1,1,1,0,0,0,1,1h0c5.41,0,11.81,3.82,14.79,8.69l-11,6.66H7.22a6.34,6.34,0,0,0-.68,12.65A6.31,6.31,0,0,0,12,44.61c.19,0,.38,0,.57,0a6.4,6.4,0,0,0,2.91-.71,6.23,6.23,0,0,0,8.63,0,6.33,6.33,0,0,0,2.9.72l.55,0A6.33,6.33,0,0,0,33,40.29a6.34,6.34,0,0,0-.67-12.65h-.15L21.65,21.25l.81-.81c1.39.73,5.91,3.07,7.44,3.18h.26A3.3,3.3,0,0,0,33.49,20a4.19,4.19,0,0,0-3.84-3.83h-.17a14,14,0,0,0-3.69.93l2.56-2.56c1.39.73,5.91,3.07,7.44,3.17H36a3.27,3.27,0,0,0,2.46-1,3.38,3.38,0,0,0,.88-2.56,4.21,4.21,0,0,0-3.84-3.83h-.17a14,14,0,0,0-3.68.92l1.58-1.58C34.44,9.29,39.1,7.89,40.18,6.81ZM29.52,18.2a2.2,2.2,0,0,1,2,2,1.37,1.37,0,0,1-.34,1,1.33,1.33,0,0,1-1.09.4,25.92,25.92,0,0,1-4.95-2.09,20,20,0,0,1,4.39-1.31ZM26.4,31.8a4.31,4.31,0,0,0-.65,0s0,0,0-.06l-3.67-7.87,7.38,4.49A6.4,6.4,0,0,0,26.4,31.8Zm-5.6,1.26,0-7.17,3,6.48a6.12,6.12,0,0,0-1.49,1.11A6.45,6.45,0,0,0,20.8,33.06ZM10.1,28.34l7.48-4.55-3.45,7.86a5.06,5.06,0,0,0-1.08-.16A6.37,6.37,0,0,0,10.1,28.34Zm7.2,5.12A5,5,0,0,0,16,32.41l2.73-6.24,0,6.89A6.69,6.69,0,0,0,17.31,33.46ZM2.89,34a4.34,4.34,0,0,1,4.33-4.33h.33a4.33,4.33,0,0,1-.19,8.65H7.22A4.34,4.34,0,0,1,2.89,34Zm9.28,8.6a4.29,4.29,0,0,1-3.45-2.42A6.32,6.32,0,0,0,13.58,34a4.21,4.21,0,0,0,0-.44,4.88,4.88,0,0,1,2.07,1,6.27,6.27,0,0,0-1.42,7.73A4.39,4.39,0,0,1,12.17,42.6Zm7.63,1A4.34,4.34,0,0,1,16.41,42a4.27,4.27,0,0,1-1-2.72,4.33,4.33,0,1,1,4.34,4.33ZM36.68,34a4.33,4.33,0,0,1-4.33,4.33h-.1A4.26,4.26,0,0,1,30,37.61a1,1,0,1,0-1.13,1.68,6.3,6.3,0,0,0,2.07.88,4.34,4.34,0,0,1-5.52,2.14A6.29,6.29,0,0,0,24,34.62a3.36,3.36,0,0,1,2-.8c0,.06,0,.12,0,.19a6.26,6.26,0,0,0,.87,3.21,1,1,0,0,0,1.38.36,1,1,0,0,0,.36-1.39A4.26,4.26,0,0,1,28,34a4.36,4.36,0,0,1,4-4.32h.35A4.33,4.33,0,0,1,36.68,34Z" transform="translate(-0.86 -0.33)" style="fill:url(#a)"/></svg>
            </div>
             <div class="detail-of-icon"> <h4>Elderberry Fruit Extract</h4>
			<p>his flower extract contains antioxidant flavonoids that are immune-stimulating, antibacterial, antiallergic, and antiviral. Elderberry increases the production of proteins in your body that activate your immune system to defend itself against germs.</p>
            </div>
          </div>
          <div class="icon-section-detail">
            <div class="icon-detail pull-left">
              {% comment %}
            {{'immunity-icon-1.png' | asset_url | img_tag}}
            {% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.1 31.29"><defs><linearGradient id="a" x1="0.55" y1="16.08" x2="32.65" y2="16.08" gradientUnits="userSpaceOnUse"><stop offset="0.03" stop-color="#9b9b98"/><stop offset="0.13" stop-color="#a4a5a7"/><stop offset="0.22" stop-color="#aeb0b7"/><stop offset="0.38" stop-color="#9fa4ab"/><stop offset="0.69" stop-color="#78848b"/><stop offset="0.72" stop-color="#748087"/><stop offset="1" stop-color="#a6b1b8"/></linearGradient></defs><title>innovia_zinc_icon</title><path d="M11.06,20.2h6.09v2.28H7.63V20.93l6-8.82H8.19V9.83h8.87v1.58ZM26,17v5.49H23.51V17.16c0-2-1.06-2-1.42-2a1.64,1.64,0,0,0-1.55,1.19,1.81,1.81,0,0,0-.08.56v5.53H17.92v-6.6c0-.93,0-1.6-.06-2.22l0-.55h2.37l0,.62a3.66,3.66,0,0,1,2.36-.81C24.19,12.92,26,14,26,17Zm6.6,14.74H16.77c-5.53,0-9.67-1.33-12.28-3.94S.55,21.24.55,15.91V.43H16.81c5.42,0,9.46,1.29,12,3.84s3.83,6.36,3.83,11.59ZM3.12,3V15.91c0,4.62,1,7.91,3.19,10.06s5.64,3.19,10.47,3.19H30.08V15.86c0-4.58-1-7.68-3.07-9.78S21.53,3,16.81,3Z" transform="translate(-0.55 -0.43)" style="fill:url(#a)"/></svg>
            </div>
             <div class="detail-of-icon"> <h4>Zinc</h4>
			<p>Zinc is an essential mineral, naturally present in some foods, that helps catalyze enzymes to support digestion and metabolism, support anti-oxidants, and boost immune function on a cellular level. Zinc helps support normal growth, heal wounds, and keep your immune system </p>
            </div>
          </div>
          <div class="icon-section-detail">
            <div class="icon-detail pull-left">
              {% comment %}
            {{'immunity-icon-last.png' | asset_url | img_tag}}
            {% endcomment %}
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35.01 35"><defs><linearGradient id="a" x1="8.68" y1="18.32" x2="19.88" y2="18.32" gradientUnits="userSpaceOnUse"><stop offset="0.03" stop-color="#9b9b98"/><stop offset="0.13" stop-color="#a4a5a7"/><stop offset="0.22" stop-color="#aeb0b7"/><stop offset="0.38" stop-color="#9fa4ab"/><stop offset="0.69" stop-color="#78848b"/><stop offset="0.72" stop-color="#748087"/><stop offset="1" stop-color="#a6b1b8"/></linearGradient><linearGradient id="b" x1="20.51" y1="13.58" x2="27.27" y2="13.58" xlink:href="#a"/><linearGradient id="c" x1="0.31" y1="17.79" x2="35.32" y2="17.79" xlink:href="#a"/></defs><title>innovia_b6_icon</title><path d="M17.53,17.65a4.17,4.17,0,0,0,1.77-3.37A3.93,3.93,0,0,0,17.75,11,7.11,7.11,0,0,0,13,9.71,20.5,20.5,0,0,0,9.21,10l-.54.12V26.66l.59.08a24.3,24.3,0,0,0,3.22.19c2.77,0,4.63-.52,5.87-1.65a4.89,4.89,0,0,0,1.53-3.62A4.48,4.48,0,0,0,17.53,17.65ZM15.9,14.49c0,1.19-1,1.94-2.69,1.94H12.05V12.67c.31,0,.68,0,1.1,0C15.9,12.62,15.9,14,15.9,14.49ZM13.06,24l-1,0V19.31h1c1.25,0,3.34.3,3.34,2.33S14.57,24,13.06,24Z" transform="translate(-0.31 -0.29)" style="fill:url(#a)"/><path d="M24.25,11.79a3.11,3.11,0,0,0-1.39.32,3.1,3.1,0,0,1,2.34-1.62,3.93,3.93,0,0,1,.64-.06l.57,0V8.7H26a5.69,5.69,0,0,0-.9.07,5.09,5.09,0,0,0-3,1.39,5.86,5.86,0,0,0-1.59,4.21c0,2.45,1.4,4.1,3.48,4.1A3.31,3.31,0,0,0,27.27,15,3,3,0,0,0,24.25,11.79Zm1,3.28c0,1-.51,1.7-1.3,1.7-1.38,0-1.52-1.61-1.52-2.1a.64.64,0,0,1,.09-.34,1.55,1.55,0,0,1,1.34-.85C24.77,13.47,25.29,14.07,25.29,15.07Z" transform="translate(-0.31 -0.29)" style="fill:url(#b)"/><path d="M33.94,11A17.46,17.46,0,0,0,17.81.29,17.58,17.58,0,0,0,1.67,11,17.54,17.54,0,0,0,.31,17.8,17.54,17.54,0,0,0,5.44,30.17a17.46,17.46,0,0,0,12.38,5.12,17.34,17.34,0,0,0,6.81-1.38,17.68,17.68,0,0,0,5.56-3.75A17.52,17.52,0,0,0,33.94,11ZM17.82,32.26A14.47,14.47,0,1,1,32.28,17.78,14.49,14.49,0,0,1,17.82,32.26Z" transform="translate(-0.31 -0.29)" style="fill:url(#c)"/></svg>
            </div>
             <div class="detail-of-icon"> <h4>Vitamin B6</h4>
			<p>Vitamin B6 is essential to support your body’s immune system and must be obtained by foods or supplements, as the body cannot synthesize it. Vitamin B6 triggers more than 100 enzyme reactions involved in metabolism and helps your body eliminate antibodies and inflammatory properties.</p>
            </div>
          </div>

          
        
        
        </div>
        <div class="col col-sm-6 col-xs-12 imunity-benifit-img">
        
        {{'immunity-detail.png' |asset_url|img_tag }}
        
        </div>
        
      
      </div>
    
      
      
    </div>
    </div>
    
    
  
  </section>
   <section class="explore-the-science-of-nector">
  <div class="explore-wrapper">
    <div class="row explore-the-science-wrapper">
    
      <div class="col col-sm-3 col-xs-12 text-center">{{'icon-section-after-icon.png'|asset_url|img_tag }}</div>
      <div class="col col-sm-9 col-xs-12 micro-tech">
        <p>
          With our micro-shot technology you’ll enjoy nutrient-rich probiotic liquid shots. Always fresh. No refrigeration needed.
        
        </p>
        <a class="science-of-nectar explore-the-science" href="#">Explore the science of nectar<span>{{'arrow-next-white.png' |asset_url | img_tag }}</span></a>
      
      </div>
      
    </div>
    
    </div>
  
  </section>

  
  <section class="shipping-section-product-detail">
  <div class="container">
  <div class="shipping-subscription row">
            <div class="col img-column">
                <div class="img-plus-text shipping-img">
                    <div class="shipping-subscription-img">
                        <img src="//cdn.shopify.com/s/files/1/2305/5045/t/1/assets/shipping.png?7920282571183766534" alt="">
                    </div>
                    <div class="shipping-subscription-img-text">
                        <p>Spend $50 and enjoy free shipping.</p>
                       <a class="btn" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img-plus-text">
                    <div class="shipping-subscription-img">
                        {{'immunity-icon-ads Copy.png' |asset_url | img_tag}}
                    </div>
                    <div class="shipping-subscription-img-text">
                      <p>Try Before You Buy.<span>Enjoy our complimentary Immunity + Digestion sample pack.*</span></p>
                         <a class="btn" href="/products/digestion-micro-shot-free-trial">Try it Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>     
  </section>  
  <section class="product-review">  
  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> 
  </section> 
  <section class="digestion-micro-12-faq prod-faq-section">   
    <div class="container">
    <div class="faq-section">    
      <div class="row section-header text-center">
       {%comment%} <h1>{{ page.title }}</h1>{%endcomment%}
        
        <div class="col-sm-12 faq-heading immunity-faq-heading"><h1 class="frequently-heading">Frequently Asked Questions</h1></div>
<!--         <div class="col-sm-12 faq-paragraph"><p class="frequently-paragraph">Find answers to product and policy questions. Share your suggestions </p></div> -->
      </div>
      
   
    </div>
  
<div id="accordion" class="immunity-faq-section" role="tablist">
 
  <div class="product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingTen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
    Which probiotic strains are in Nectar, and why does it matter?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and proven especially effective in preventing and improving digestion by restoring and maintaining the intestinal flora affected by dietary </div>
    </div>
  </div>
  
  <div class="product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingNine">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
    When and how should Nectar probiotics be taken?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div>
  
  <div class=" product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingEleven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
  How do I know which to take, Innovia Nectar Digestion, or Innovia Nectar Immunity?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div>
  <div class=" product-faq-border">
    <div class="card-header innovia-power-faq" role="tab" id="headingTwelve">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
  Is Innovia Nectar mostly for adults, or is it also safe for children?
        </a>
         <i class="fa fa-plus" aria-hidden="true">{{ 'plus-sign.png' | asset_url | img_tag:'plus-sign'}}</i>
        <i class="fa fa-minus" aria-hidden="true">{{ 'minus-sign.png' | asset_url | img_tag:'plus-minus'}}</i>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion">
      <div class="card-body digestion-body-faq">
        Innovia® Nectar™ Immunity contains the probiotic Bifodobacterium animalis subsp. lactis, commonly known as BB-12®. innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The BB-12® strain in innovia® Nectar™ Immunity has been studied extensively and proven especially effective in boosting and supporting immune system function and defending against inflammation, considered a precursor to many illnesses. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and       </div>
    </div>
  </div> 
  <div  class="col-sm-12 more-faq-question">
       <p>More Questions?</p>    
  </div>
  <div class="col-sm-12 all-faq-button">
  <a href="/pages/faq" class="btn immunity-btn" type="submit" name="add">
<span > see all Faqs </span>
</a>
  </div>
      <div class="rte">
        {{ page.content }}
        
      </div>
    </div>
    </div>
  
  </section>

</div>

<script>
  $(document).ready(function(){
  $("#demo").on("hide.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-down "></span> Open');
  });
  $("#demo").on("show.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
  });
}); 
</script>