<div>
  <section class="product-detail">
    <div class="container">
    
    <div class="product-detail-heading text-center">
      <h1>The Benefits Inside</h1>
      <p>Ease digestive troubles and balance gut flora with a potent blend of live probiotics, botanical extracts and vitamin D3. </p>
    
    </div>
    <div class="first-section-benifit-inside">
    
      <div class="row">
      
        <div class="col col-sm-6 col-xs-12">
          
          <div class="icon-section-detail">
            <div class="icon-detail pull-left">
            {{'product-detail-icon.png' | asset_url | img_tag}}
            </div>
             <div class="detail-of-icon"> <h4>8 Billion Viable Cultures<br><i>Lactobacillus paracasei LP-DG®</i></h4>
			<p>LP-DG is a popular probiotic strain known for its ability to improve digestive health by restoring beneficial gut microflora and supporting a healthy inflammatory response. LP-DG is the foundation of one of the leading probiotic brands in the world and the subject of numerous human clinical studies.</p>
            </div>
          </div>
           <div class="icon-section-detail">
            <div class="icon-detail pull-left">
            {{'product-detail-icon.png' | asset_url | img_tag}}
            </div>
             <div class="detail-of-icon"> <h4>Aloe Vera whole leaf extract</i></h4>
             <p>The Aloe Vera plant contains two important enzymes that support digestion and improve nutrient absorption by breaking down carbohydrates, starches, sugars and fat. Aloe Vera is also a source of polysaccharides that may act as a prebiotic by nourishing beneficial gut bacteria. </p>            </div>
          </div>
          <div class="icon-section-detail">
            <div class="icon-detail pull-left">
            {{'product-detail-icon.png' | asset_url | img_tag}}
            </div>
             <div class="detail-of-icon"> <h4>Curcumin rhizome extract</i></h4>
			<p>Curcumin is derived from the potent and timeless herb turmeric, used widely in Indian cuisine. The extract we use comes from a patented process that maximizes the quality and bioavailability of curcuminoids. Human studies have shown that the anti-inflammatory benefits of Curcumin extracts support the body’s response to inflammation and reduce free radicals. Curcumin reduces bloating and gas, and stimulates the gallbladder to produce bile, which may help improve digestion.</p>
            </div>
          </div>
          <div class="icon-section-detail">
            <div class="icon-detail pull-left">
            {{'product-detail-icon.png' | asset_url | img_tag}}
            </div>
             <div class="detail-of-icon"> <h4>Vitamin D3</h4>
			<p>Vitamin D3 supports immune health, blood pressure, bone density, and regulates calcium balance. Produced naturally by the body when skin is exposed to the sun, Vitamin D3 is the easiest form of Vitamin D for the body to absorb. </p>
            </div>
          </div>

          
        
        
        </div>
        <div class="col col-sm-6 col-xs-12">
        
        {{'product-detail-right-side.png' |asset_url|img_tag }}
        
        </div>
        
      
      </div>
    
      
      
    </div>
    </div>
    
    
  
  </section>
  <section class="explore-the-science-of-nector">
  <div class="container">
    <div class="row explore-the-science-wrapper">
    
      <div class="col col-sm-2 col-xs-12">{{'icon-section-after-icon.png'|asset_url|img_tag }}</div>
      <div class="col col-sm-10 col-xs-12">
        <p>
          With our micro-shot technology you’ll enjoy nutrient-rich probiotic liquid shots. Always fresh. No refrigeration needed.
        
        </p>
        <a class="science-of-nectar" href="https://innoviaprobiotics.com/pages/nectar-science">Explore the science of nectar<span>{{'arrow-next-white.png' |asset_url | img_tag }}</span></a>
      
      </div>
      
    </div>
    
    </div>
  
  </section>
  <section class="shipping-section-product-detail">
  <div class="container">
  <div class="shipping-subscription row">
            <div class="col">
                <div class="img-plus-text">
                    <div class="shipping-subscription-img">
                        <img src="//cdn.shopify.com/s/files/1/2305/5045/t/1/assets/shipping.png?7920282571183766534" alt="">
                    </div>
                    <div class="shipping-subscription-img-text">
                        <p>Free shipping on order of two boxes or more</p>
                       
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img-plus-text">
                    <div class="shipping-subscription-img">
                        <img src="//cdn.shopify.com/s/files/1/2305/5045/t/1/assets/01.png?2666506809341275974" alt="">
                    </div>
                    <div class="shipping-subscription-img-text">
                        <p>Our customized subscriptions make staying healthy easy.</p>
                         <a class="btn" href="https://innoviaprobiotics.com/products/digestion-micro-shot-free-trial">Try it Now</a>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
  
  </section>
  
  
  
  
  
  <section>
    
    <div class="container">
    <div class="faq-section">
    
      <div class="row section-header text-center">
       {%comment%} <h1>{{ page.title }}</h1>{%endcomment%}
        
        <div class="col-sm-12 faq-heading"><h1 class="frequently-heading">Frequently Asked Questions</h1></div>
        <div class="col-sm-12 faq-paragraph"><p class="frequently-paragraph">Find answers to product and policy questions. Share your suggestions </p></div>
      </div>
      <div class="row">
        <div class="col-sm-12  product-related-question">
          <h3 class="product-question">Product Related Questions</h3>
        </div>     
      </div>
      
      
    
    
    </div>
    
    
  
  <div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is a probiotic?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
     
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      Probiotics are live microorganisms, often referred to as “good” bacteria, that have numerous health benefits. Good bacteria live in our digestive tract and are necessary for our bodies to function properly. Good bacteria help our body digest food, destroy disease-causing “bad” bacteria, and produce important vitamins, along with many other essential functions. Probiotics need to be living and be the same as or similar to the microorganisms that naturally live in our body to be effective.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Why should I take probiotics?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      Taking daily probiotics supports the health of our digestive tract. This is important because a healthy digestive tract is key to maintaining overall health, preventing disease and other health problems, and recovering from illness. Probiotics do this by creating a healthy habitat of microflora in your gut—the microscopic mix of bacteria, algae and fungi. Taking daily probiotics ensures we have a healthy mix of gut bacteria so our bodies function properly.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What’s the difference between a probiotic supplement versus probiotic foods?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Probiotics, to be effective in humans, must be living cultures derived from mammals. Many of the probiotic cultures in foods are not derived from mammals and are not living.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Can probiotics help with my diarrhea?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Yes. Probiotics play a key role in preventing and improving diarrhea. Diarrhea occurs when the normal process of gastrointestinal absorption has been disrupted, either by an infection or by an imbalance in the bacteria in our gut, creating the general inability of our gastrointestinal tract to break down and absorb ingested nutrients. When this happens, foods and fluids pass too quickly through the digestive system, resulting in loose and watery stools three or more times a day.
      <br>Our gastrointestinal tract requires healthy colonies of good bacteria before it can break down and absorb nutrients. The right probiotic will populate the digestive tract with these healthy bacteria colonies. Innovia® Nectar Digestion contains the probiotic strain Enterolactis®, known for its exceptional ability to restore colonies of intestinal flora that support healthy digestion, and help prevent diarrhea and stomach discomfort.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Do probiotics help prevent inflammation?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Yes. Probiotics help prevent and resolve inflammation. Inflammation is the result of our body’s natural response to fighting foreign organisms, such as bad bacteria and viruses. Sometimes our body overreacts and creates too much inflammation, which is unhealthy for our bodies and is linked to numerous diseases and health issues. Scientists are just beginning to understand the interrelationship between gut health and inflammation, but an analysis of probiotic research shows that taking probiotics regularly does lower overall inflammation, as measured by the levels of C-reactive protein, a marker that occurs when a body has inflammation.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          I’ve taken antibiotics. When should I start taking probiotics?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Although some health-care practitioners suggest taking probiotics after we are done with a course of antibiotics, it is also a good idea to take probiotics at the same time we take antibiotics. This is because the antibiotics work to wipe out all microorganisms in our gut, both good and bad. Taking probiotics during this time will help repopulate the good bacteria we need during this time to facilitate digestion, immunity, and other health benefits of good bacteria. It will not hurt us to rebuild the good bacteria in our gut while we are eliminating the bad bacteria in our gut, and it will help our digestive tract continue to function properly. Ideally, we want to continue taking probiotics daily, but be sure to continue a course of probiotics for at least two weeks after stopping antibiotics.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Which probiotic strains are in Nectar, and why does it matter?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Innovia® Nectar™ Digestion contains Enterolactis®, a clinically studied and superior proprietary probiotic strain of 8 billion [viable cultures]CFU Lactobacillus casei DG®. The probiotic strain of the probiotic you are taking is important because it determines if the probiotic will be effective for the purpose it is consumed. The Enterolactis®probiotic strain in innovia® Nectar™ Digestion has also been studied extensively, and proven especially effective in preventing and improving digestion by restoring and maintaining the intestinal flora affected by dietary imbalances and antibiotic therapies. 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       Why is Nectar’s micro-shot delivery system more effective for my health than liquid probiotics or dry probiotic pills?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      innovia® Nectar™ probiotics stand out among other probiotic brands because they are stable and effective over time without requiring refrigeration. innovia® Nectar™ probiotics come in a unique micro-shot system that separates the powder probiotic from the plant extract- and vitamin-fortified liquid until the moment the packaging seal is broken and the two are combined. This system keeps the probiotic fresh, dry and stable. Other probiotic products degrade faster than innovia® Nectar™. Some require refrigeration to remain stable, and others are room-temperature stable but for a shorter period.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        When and how should Nectar probiotics be taken?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Innovia® Nectar™ is best when taken daily over time. Results from innovia® Nectar™ may be tangible within a few days, but expect to see improved digestion and immunity after 30 days. innovia® Nectar™ is needed daily because the bacteria in our gut is constantly changing, due to the complex homeostatis of our bodies which are affected by the food we eat and the lifestyle we lead. This means we must tend to the delicate balance of the microflora in our gut, similar to how we might tend to a garden, keeping healthy plants growing while preventing an overgrowth of weeds. While it does not matter what time of day innovia® Nectar™ is taken, many Italians enjoy it after a meal to support digestion and good health. Others take innovia® Nectar™ every morning before work, or bring it along in a purse or pocket for support during the day.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How do I know which to take, innovia® Nectar™ Digestion, or innovia® Nectar™ Immunity?
        </a>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      Innovia® Nectar™ Digestion will maintain and rebuild healthy colonies of bacteria in your gut, but each contains a probiotic strain and vitamin formula specifically targeted to improve different health issues. Take innovia® Nectar™ Digestion to prevent, or recover from issues related to digestion or when you are taking or recovering from antibiotics. 
      </div>
    </div>
  </div>
    
</div>
    </div>
  
  </section>

</div>

<script>
  $(document).ready(function(){
  $("#demo").on("hide.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-down "></span> Open');
  });
  $("#demo").on("show.bs.collapse", function(){
    $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
  });
}); 
</script>